* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

/* Estilos gerais para o body e html */
body,
html {
    min-height: 100vh;
    height: 100%;
    background-color: #78aed4;
    background-image: url('./img/fundo.png');
    background-size: 700px auto;
    background-position: left center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: linear-gradient(135deg, #4a90e2, #2c3447);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    height: 550px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Ajuste de margens e tamanhos de textos */
#menu h1,
#category-menu h1 {
    margin-top: 40px;
}

#menu h2,
#category-menu h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#category-menu p,
#menu p {
    color: rgba(184, 84, 232, 1);
    font-size: 20px;
    margin: 20px 0;
}

/* Estilo do GIF */
#menu img {
    width: 200px;
    margin: 20px 0;
}


button {
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    background: linear-gradient(90deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232, 1) 100%);
    border-radius: 3rem;
    border: none;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(90deg, rgba(184, 84, 232, 1) 0%, rgba(132, 53, 222, 1) 100%);
}

/* Menu de categorias específico */
#category-menu {
    display: block;
}

/* Estilo do Quiz */
#quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#question-container {
    background-color: #733798;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    /* Maior largura para garantir alinhamento adequado */
    margin: 0 auto;
    /* Centraliza o container */
    color: white;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    /* Alinha o texto à esquerda */
}

#question-text {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    /* Espaçamento entre as linhas para melhorar a legibilidade */
    text-align: left;
}

/* Classe para destacar a resposta correta */
button.correct {
    background: rgb(116, 213, 19);
    color: #000;
}

/* Classe para destacar a resposta incorreta */
button.incorrect {
    background: rgb(210, 41, 41);
    color: #000;
}

/* Mensagens de feedback */
.correct-message {
    color: chartreuse;
    font-weight: bold;
}

.incorrect-message {
    color: red;
    font-weight: bold;
}

#question-number {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1rem;
    color: #fff;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    /* Garantir que as opções tenham largura total do container */
}

#next-button {
    text-align: center;
}

#options-container button {
    text-align: left;
    padding: 10px;
}

#score {
    margin-top: 10px;
}

/* Tela final dentro do mesmo container */
#final-screen {
    display: none;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

#final-screen h1 {
    margin-bottom: 20px;
}

#final-screen ul {
    list-style-type: none;
    padding: 0;
}

#final-screen ul li {
    margin: 5px 0;
    color: #b854e8;
}