* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

body,
html {
    min-height: 100vh;
    height: 100%;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#container {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

button {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    background: linear-gradient(90deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232, 1) 100%);
    border-radius: 3rem;
    border: none;
}

button:hover {
    background: linear-gradient(90deg, rgba(184, 84, 232, 1) 0%, rgba(132, 53, 222, 1) 100%);
}

/* Estilos para o menu inicial e categorias */
#menu,
#category-menu,
#quiz {
    display: none;
    /* Inicialmente escondido */
}

/* Menu de categorias e quiz */
#category-menu,
#quiz {
    display: block;
}

/* Cor do parágrafo */
p {
    color: #9b59b6;
    /* Roxo bonito */
}

/* Centralizando o conteúdo */
#quiz,
#category-menu,
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
h2 {
    color: #fff;
    margin-bottom: 20px;
}

/* Ajuste no botão do menu */
button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 10px;
    background: linear-gradient(90deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232, 1) 100%);
    border-radius: 3rem;
    border: none;
}

button:hover {
    background: linear-gradient(90deg, rgba(184, 84, 232, 1) 0%, rgba(132, 53, 222, 1) 100%);
}

/* Estilos gerais */
#quiz {
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#question-container {
    background-color: #6a1b9a;
    /* Cor roxa */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

#question-number {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1rem;
    color: #fff;
}

#question-text {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #d8d8d8;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

/* Outros ajustes de estilo */
button {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    background: linear-gradient(90deg, rgba(132, 53, 222, 1) 0%, rgba(184, 84, 232, 1) 100%);
    border-radius: 3rem;
    border: none;
}

button:hover {
    background: linear-gradient(90deg, rgba(184, 84, 232, 1) 0%, rgba(132, 53, 222, 1) 100%);
}